$height: 36;

.label {
  position: relative;
  display: inline-block;
  color: var(--color-fill-1);

  &:before {
    content: "";
    height: ($height - 5) + px;
    position: absolute;
    right: 7px;
    top: 3px;
    width: 22px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    pointer-events: none;
    display: block;
  }
  &:after {
    content: " ";
    position: absolute;
    right: 15px;
    top: 46%;
    margin-top: -3px;
    z-index: 2;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.9px 4px 0 4px;
    border-color: var(--color-fill-1) transparent transparent transparent;
    pointer-events: none;
  }

  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 30px 0 10px;
    color: var(--color-fill-1);
    border: 1px solid var(--color-fill-1);
    border-radius: 3px;
    line-height: $height + px;
    height: $height + px;
    margin: 0 5px 5px 0;
    margin-left: 20px;
  }
}
