[data-theme="dark"] {
  --color-accent: $primary-color;
  --color-fill-1: #dfe2e6;
  --color-fill-2: #ffffffaa;
  --color-fill-3: rgba(255, 255, 255, 0.75);
  --color-separator: rgba(255, 255, 255, 0.35);
  --color-background-1: #222222;
  --color-background-2: #65776c;
}
