[data-theme="light"] {
  --color-accent: $primary-color;
  --color-fill-1: #444444;
  --color-fill-2: rgba(84, 104, 93, 0.75);
  --color-fill-3: rgba(84, 104, 93, 0.5);
  --color-separator: rgba(84, 104, 92, 0.15);
  --color-background-1: #ffffff;
  --color-background-2: #eef0ef;
}
