@import "styles/variables";

.author {
  display: flex;
  align-items: center;
  margin: $spacing-2 0;

  .image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: $spacing-2;
  }

  .name {
    color: var(--color-fill-1);
  }
}
